@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #EFEBE8, #DEA562);
    
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #402927;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A6401B;
    text-align: center;
    text-shadow: 1px 1px 2px #6d2a129c;
}

h2 {
    color: #402927;
}

p {
    text-align: justify;
}